<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student form</title>
</head>
<body>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
    <div>
        <label for="firstname">firstname</label>
        <input type="text" id="firstname" th:field="*{firstName}">
    </div>

    <div>
        <label for="lastname">lastname</label>
        <input type="text" id="lastname" th:field="*{lastName}">
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red" ></span>
    </div>

    <div>
        <label for="country">Country</label>
        <select name="country" id="country" th:field="*{country}">
            <option th:each="country: ${countries}" th:value="${country}" th:text="${country}"></option>
        </select>
    </div>

    <div>
        <label for="postalCode">PostalCode</label>
        <input type="text" id="postalCode" th:field="*{postalCode}">
        <span th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" style="color: red" ></span>
    </div>

    <div>
        <h2>Favorite prog language</h2>
        <div th:each="language : ${progLanguages}">
            <input type="radio"
                   th:id="${language}"
                   th:value="${language}"
                   th:field="*{favoriteLanguage}" />
            <label th:for="${language}" th:text="${language}"></label>
        </div>
    </div>

    <div>
        <h2>Favorite Ops System</h2>
        <div th:each="system: ${systems}">
            <input type="checkbox"
                   th:id="${system}"
                   th:value="${system}"
                   th:field="*{favoriteSystem}"
            >
            <label th:for="${system}" th:text="${system}"></label>
        </div>
    </div>


    <input type="submit" value="send">
</form>
</body>
</html>